@import "helpers/variables";
@import "helpers/mixins";
@import "helpers/functions";
@import "vendor/libs";
@import "base/fonts";
@import "base/general";
@import "../blocks/modules";

$accent-color: #5584ff;
$text-color: #8492af;

body {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

h1 {
    font-size: 60px;
    font-weight: 100;
}

h2 {
    font-size: 60px;
    font-weight: 100;
}

h4 {
    font-size: 24px;
    font-weight: 700;
}

p {
    font-size: 18px;
    font-weight: 400;
    color: $text-color;
}

.wrap {
    max-width: 1710px;
    margin: 0 auto;
}

.page-main {
    background: url(../img/bg.png) no-repeat;
    background-size: cover;
    height: 1086px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 54px 15px 135px 15px;
    &__logo {
        display: block;
        background-image: url(../img/Logo.svg);
        width: 233px;
        height: 65px;
    }
    &__login {
        border: 1px solid #233a72;
        padding: 14px 43px;
        border-radius: 35px;
        margin-left: 39px;
        &-item {
            color: $accent-color;
            text-decoration: none;
            font-size: 18px;
        }
    }
}

.menu {
    display: flex;
    align-items: center;
    &__links {
        &-item {
            text-decoration: none;
            color: #fff;
            margin-left: 49px;
            font-size: 18px;
        }
    }
}

.block-main {
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    &__title {
        color: #fff;
        margin-bottom: 96px;
        & span {
            display: block;
            font-size: 36px;
            font-weight: 400;
            color: #8492af;
            margin-top: 11px;
        }
    }
    &__button {
        font-size: 18px;
        font-weight: 700;
        &-item {
            text-decoration: none;
            padding: 13px 54px;
            background-color: #5584ff;
            border-radius: 35px;
            color: #fff;
            letter-spacing: 0.4px;
        }
    }
    &__dashboard {
        background-image: url(../img/dashboard.png);
        background-repeat: no-repeat;
        width: 1080px;
        height: 770px;
        margin-top: 2px;
        z-index: 2;
    }
}

.page-stats {
    margin-top: 260px;
}

.block-stats {
    display: flex;
    justify-content: space-between;
    max-width: 1473px;
    margin: 0 auto;
    &-item {
        flex-basis: 33.333%;
        text-align: center;
        &__title h4 {
            letter-spacing: 0.4px;
        }
        &__img-1 {
            background: url(../img/svg/icon-1.svg) no-repeat;
            width: 80px;
            height: 76px;
            margin: 0 auto 59px;
        }
        &__img-2 {
            background: url(../img/svg/icon-2.svg) no-repeat;
            width: 92px;
            height: 88px;
            margin: 0 auto 47px;
        }
        &__img-3 {
            background: url(../img/svg/icon-3.svg) no-repeat;
            width: 80px;
            height: 80px;
            margin: 0px auto 57px;
        }
        &__text {
            width: 365px;
            margin: 0 auto;
            letter-spacing: 0.4px;
            line-height: 30px;
            margin-top: 21px;
        }
        &__button {
            margin: 46px auto 0;
            padding: 15px 76px;
            border-radius: 50px;
            border: 1px solid rgba(132, 146, 175, 0.3);
            display: block;
            width: 100px;
            & a {
                text-decoration: none;
                color: #0e1a35;
                font-weight: 700;
                letter-spacing: 0.5px;
            }
        }
    }
}
.line:before {
    content: "";
    border: 1px solid rgba(132, 146, 175, 0.3);
    width: 220px;
    display: block;
    position: relative;
    top: 39px;
    left: 378px;
}
.page-view {
    margin-top: 100px;
}
.block-view {
    display: flex;
    justify-content: space-between;
    &-desc {
        
    }
    &-img {
        background: url(../img/view.png);
        width: 1306px;
        height: 667px;
    }
    &-item {
        &__list {
            &>li {
                position: relative;
                list-style-type: none;
                &::after {
                    content: "";
                    position: absolute;
                    background: url(../img/svg/check.svg) no-repeat;
                    width: 28px;
                    height: 28px;
                }
                /*
                &::after {
                    content: "";
                    position: absolute;
                    background: url(../img/svg/check.svg);
                    width: 28px;
                    height: 28px;
                }*/
            }
        }
    }
}