@import "helpers/variables";
@import "helpers/mixins";
@import "helpers/functions";
@import "vendor/libs";
@import "base/fonts";
@import "base/general";
@import "../blocks/modules";

$accent-color: #5584ff;
$text-color: #8492af;

body {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

h1 {
    font-size: 60px;
    font-weight: 100;
}

h2 {
    font-size: 60px;
    font-weight: 100;
    @media(max-width: 1450px) {
        font-size: 45px;
    }
    @media(max-width: 520px) {
        font-size: 35px;
    }
}

h4 {
    font-size: 24px;
    font-weight: 700;
    @media(max-width: 520px) {
        font-size: 20px;
    }
}

p {
    font-size: 18px;
    font-weight: 400;
    color: $text-color;
    @media(max-width: 1450px) {
        font-size: 15px;
    }
    @media(max-width: 520px) {
        font-size: 12px;
    }
}

.wrap {
    max-width: 1710px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    @media(max-width: 840px) {
        padding-left: 5px;
        padding-right: 5px;
    }
}

.page-main {
    background: url(../img/bg.png) no-repeat;
    background-size: cover;
    height: 1086px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 54px 15px 135px 15px;
    &__logo {
        display: block;
        background-image: url(../img/Logo.svg);
        width: 233px;
        height: 65px;
    }
    &__login {
        border: 1px solid #233a72;
        padding: 14px 43px;
        border-radius: 35px;
        margin-left: 39px;
        &-item {
            color: $accent-color;
            text-decoration: none;
            font-size: 18px;
        }
    }
}

.menu {
    display: flex;
    align-items: center;
    &__links {
        &-item {
            text-decoration: none;
            color: #fff;
            margin-left: 49px;
            font-size: 18px;
        }
    }
}

.block-main {
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    &__title {
        color: #fff;
        margin-bottom: 96px;
        & span {
            display: block;
            font-size: 36px;
            font-weight: 400;
            color: #8492af;
            margin-top: 11px;
        }
    }
    &__button {
        font-size: 18px;
        font-weight: 700;
        &-item {
            text-decoration: none;
            padding: 13px 54px;
            background-color: #5584ff;
            border-radius: 35px;
            color: #fff;
            letter-spacing: 0.4px;
        }
    }
    &__dashboard {
        background-image: url(../img/dashboard.png);
        background-repeat: no-repeat;
        width: 1080px;
        height: 770px;
        margin-top: 2px;
        z-index: 2;
    }
}

.page-stats {
    margin-top: 260px;
}

.block-stats {
    display: flex;
    justify-content: space-between;
    max-width: 1473px;
    margin: 0 auto;
    @media(max-width: 1220px) {
        flex-flow: column;
    }
    &-item {
        flex-basis: 33.333%;
        text-align: center;
        @media(max-width: 1220px) {
            margin-bottom: 60px;
        }
        &__title h4 {
            letter-spacing: 0.4px;
        }
        &__img-1 {
            background: url(../img/svg/icon-1.svg) no-repeat;
            width: 80px;
            height: 76px;
            margin: 0 auto 59px;
            @media(max-width: 1220px) {
                margin: 0px auto 30px;
            }
        }
        &__img-2 {
            background: url(../img/svg/icon-2.svg) no-repeat;
            width: 92px;
            height: 88px;
            margin: 0 auto 47px;
            @media(max-width: 1220px) {
                margin: 0px auto 30px;
            }
        }
        &__img-3 {
            background: url(../img/svg/icon-3.svg) no-repeat;
            width: 80px;
            height: 80px;
            margin: 0px auto 57px;
            @media(max-width: 1220px) {
                margin: 0px auto 30px;
            }
        }
        &__text {
            width: 365px;
            margin: 0 auto;
            letter-spacing: 0.4px;
            line-height: 30px;
            margin-top: 21px;
            @media(max-width: 520px) {
                width: 272px;
            }
        }
        &__button {
            margin: 46px auto 0;
            padding: 15px 76px;
            border-radius: 50px;
            border: 1px solid rgba(132, 146, 175, 0.3);
            display: block;
            width: 100px;
            @media(max-width: 1220px) {
                margin: 25px auto 0;
            }
            & a {
                text-decoration: none;
                color: #0e1a35;
                font-weight: 700;
                letter-spacing: 0.5px;
            }
        }
    }
}
.line:before {
    content: "";
    border: 1px solid rgba(132, 146, 175, 0.3);
    width: 220px;
    display: block;
    position: relative;
    top: 39px;
    left: 378px;
    @media(max-width: 1500px) {
        display: none;
    }
}
.page-view {
    margin-top: 100px;
    background-color: #f5f9ff;
    padding-top: 100px;
    padding-bottom: 112px;
    @media(max-width: 1450px) {
        padding-top: 0px;
        padding-bottom: 80px;
    }
    @media(max-width: 520px) {
        margin-top: 0px;
    }
    @media(max-width: 320px) {
        padding-bottom: 50px;
    }
}
.block-view {
    margin-top: 17px;
    display: flex;
    justify-content: space-between;
    @media(max-width: 1450px) {
        flex-flow: column;
    }
    &-desc {
        margin-left: 216px;
        margin-top: 70px;
        @media(max-width: 1450px) {
            width: 492px;
            margin: 50px auto;
            text-align: center;
        }
        @media(max-width: 520px) {
            width: 310px;
        }
        & h2 {
            margin-bottom: 40px;
        }
        & p {
            max-width: 585px;
            line-height: 29px;
            @media(max-width: 520px) {
                line-height: 22px;
            }
        }
        & :nth-child(3) {
            margin-top: 32px;
            margin-bottom: 42px;
            @media(max-width: 520px) {
                margin-top: 10px;
                margin-bottom: 30px;
            }
        }
    }
    &-img {
        width: 999px;
        @media(max-width: 1870px) {
            width: 800px;
        }
        @media(max-width: 1700px) {
            width: 700px;
        }
        @media(max-width: 1600px) {
            width: 600px;
        }
        @media(max-width: 1450px) {
            background-image: url(../img/view-media.png);
            width: 781px;
            height: 400px;
            background-size: cover;
            margin: 0 auto;
        }
        @media(max-width: 840px) {
            width: 463px;
            height: 233px;
        }
        @media(max-width: 520px) {
            width: 310px;
            height: 158px;        
        }
        & img {
            width: 999px;
            @media(max-width: 1870px) {
                width: 800px;
            }
            @media(max-width: 1700px) {
                width: 700px;
            }
            @media(max-width: 1600px) {
                width: 600px;
            }
            @media(max-width: 1450px) {
                display: none;
            }
        }
    }
    &-item {
        &__list {
            &>li {
                position: relative;
                list-style-type: none;
                padding-left: 47px;
                font-size: 22px;
                line-height: 60px;
                color: $accent-color;
                @media(max-width: 840px) {
                    padding-left: 26px;
                    font-size: 18px;
                    line-height: 38px;
                }
                @media(max-width: 520px) {
                    font-size: 15px;
                }
                &::before {
                    content: "";
                    position: absolute;
                    background: url(../img/svg/check.svg) no-repeat;
                    width: 28px;
                    height: 28px;
                    left: 2px;
                    top: 15px;
                    @media(max-width: 840px) {
                        left: 50px;
                        top: 10%;
                    }
                    @media(max-width: 520px) {
                        left: 0px;
                        top: 15%;
                        width: 25px;
                    }
                }
            }
        }
    }
}
.page-progress {
    background: url(../img/bg-2.jpg) no-repeat;
    background-size: cover;
    height: 750px;
    @media(max-width: 1600px) {
        background-position: center;
        height: 850px;
    }
}
.block-progress {
    display: flex;
    justify-content: space-between;
    padding-top: 158px;
    @media(max-width: 1600px) {
        padding-top: 0px;
        flex-flow: column-reverse;
        align-items: center;
    }
    &__item {
        display: flex;
        justify-content: space-between;
        & li {
            position: relative;
            padding: 30px 149px 30px 92px;
            background-color: #fff;
            margin-top: 14px;
            letter-spacing: 0.68px;
            font-weight: 500;
            font-size: 16px;
            &::before {
                content: "";
                position: absolute;
                background: url(../img/svg/circle-1.svg) no-repeat;
                width: 56px;
                height: 41px;
                left: 30px;
            }
            &::after {
                content: "";
                position: absolute;
                background: url(../img/svg/dot.svg) no-repeat;
                width: 6px;
                height: 28px;
                right: 28px;
                top: 40%;
            }
            & span {
                display: block;
                font-size: 11px;
                letter-spacing: 0.24px;
                color: #8492af;
                margin-top: 8px;
                margin-left: 21px;
            }
            
        }
        & ul {
            list-style-type: none;
        }
        & h4 {
            font-size: 30px;
            color: #fff;
            font-weight: 500;
            margin-bottom: 30px;
            & span {
                color: #8492af;
            }
        }
        &_progress {
            & li:nth-child(2) {
                &::before {
                    content: "";
                    position: absolute;
                    background: url(../img/svg/circle-2.svg) no-repeat;
                    width: 41px;
                    height: 41px;
                    left: 30px;
                }
            }
            & li:nth-child(3) {
                &::before {
                    content: "";
                    position: absolute;
                    background: url(../img/svg/circle-3.svg) no-repeat;
                    width: 41px;
                    height: 41px;
                    left: 30px;
                }
            }
            & li span::before {
                content: "";
                position: absolute;
                background: url(../img/svg/clock.svg) no-repeat;
                width: 14px;
                height: 14px;
                left: 91px;
                bottom: 30px;
            }
            & li:nth-child(3) {
                & span {
                    color: #f83c7b;
                }
                & span::before {
                    content: "";
                    position: absolute;
                    background: url(../img/svg/clock-red.svg) no-repeat;
                    width: 14px;
                    height: 14px;
                    left: 91px;
                    bottom: 30px;
                }
            }
                
        }
        &_completed {
            margin-left: 52px;
            & li {
                padding: 30px 103px 30px 91px;
                & span {
                    color: #0ec328;
                }
            }
            & li:nth-child(1) {
                &::before {
                    content: "";
                    position: absolute;
                    background: url(../img/svg/circle-4.svg) no-repeat;
                    width: 41px;
                    height: 41px;
                    left: 30px;
                }
            }
            & li:nth-child(2) {
                &::before {
                    content: "";
                    position: absolute;
                    background: url(../img/svg/circle-5.svg) no-repeat;
                    width: 41px;
                    height: 41px;
                    left: 30px;
                }
            }
            & li span::before {
                content: "";
                position: absolute;
                background: url(../img/svg/check-green.svg) no-repeat;
                width: 14px;
                height: 14px;
                left: 91px;
                bottom: 30px;
            }
        }
    }
    &__desc {
        width: 702px;
        margin-top: 53px;
        & h2 {
            color: #fff;
            margin-bottom: 40px;
        }
        & p {
            line-height: 29px;
            width: 516px;
        }
        & p:nth-child(3) {
            margin-top: 32px;
        }
        &_button {
            margin-top: 49px;
            margin-left: 7px;
            &-right {
                margin-left: 15px;
            }
            @media(max-width: 1600px) {
                margin: 0 0 43px 7px;
            }
        }
    }
}
.page-powerfull {
    background-color: #f6f7fa;
}
.block-powerfull {
    padding-top: 94px;
    text-align: center;
    @media(max-width: 1380px) {
        padding-bottom: 50px;
    }
    & p {
        width: 996px;
        margin: 40px auto 0;
        line-height: 30px;
        @media(max-width: 1090px) {
            width: 800px;
            margin: 20px auto 0;
        }
        @media(max-width: 840px) {
            width: 424px;
            margin: 20px auto 0;
            line-height: 25px;
        }
        @media(max-width: 460px) {
            width: 320px;
            margin: 15px auto 0;
            line-height: 22px;
        }
    }
    &__img {
        position: relative;
        margin-top: 82px;
        @media (max-width: 1380px) {
            margin-top: 70px;
            text-align: center;
        }
        @media (max-width: 520px) {
            margin-top: 30px;
        }
        & p {
            width: 236px;
            letter-spacing: 0.38px;
            margin-left: 0;
            @media(max-width: 1450px) {
                font-size: 15px;
                width: 220px;
            }
            @media(max-width: 1380px) {
                width: 338px;
            }
        }
        & img {
            @media(max-width: 1742px) {
                width: 1000px;
            }
            @media(max-width: 1600px) {
                width: 800px;
            }
            @media(max-width: 1380px) {
                width: 750px;
            }
            @media(max-width: 840px) {
                width: 550px;
            }
            @media(max-width: 600px) {
                width: 450px;
            }
            @media(max-width: 600px) {
                width: 320px;
            }
        }
        & p {
            @media(max-width: 1380px) {
                margin-top: 10px;
                margin: 0 auto;
                text-align: center;
            }
            @media(max-width: 1090px) {
                width: 300px;
            }
            @media(max-width: 840px) {
                width: 300px;
            }
            @media(max-width: 520px) {
                font-size: 12px;
            }
        }
        & h4 {
            letter-spacing: 0.45px;
        }
        &--desc-1 {
            position: absolute;
            top: 86px;
            left: 164px;
            text-align: left; 
            @media(max-width: 1742px) {
                top: 86px;
                left: 130px;
            }
            @media(max-width: 1520px) {
                left: 100px;
            }
            @media(max-width: 1380px) {
                position: static;
                width: 407px;
                text-align: center;
                margin: 0 auto;
            }
            &::after {
                content: "";
                display: block;
                position: absolute;
                background-image: url(../img/svg/strips-left.svg);
                width: 669px;
                height: 46px;
                top: 20px;
                @media(max-width: 1742px) {
                    background-image: url(../img/svg/strips-left-1.svg);
                    width: 360px;
                }
                @media(max-width: 1380px) {
                    display: none;
                }
            }
        }
        &--desc-2 {
            position: absolute;
            bottom: 148px;
            right: 158px;
            text-align: right;    
            @media(max-width: 1742px) {
                bottom: 130px;
                right: 110px;
            }
            @media(max-width: 1520px) {
                right: 100px;
            }
            @media(max-width: 1380px) {
                position: static;
                text-align: center;
                width: 407px;
                margin: 25px auto 0;
            }    
            &::after {
                content: "";
                display: block;
                position: absolute;
                background-image: url(../img/svg/strips-right.svg);
                width: 669px;
                height: 46px;
                top: 20px;
                right: 0;
                @media(max-width: 1742px) {
                    background-image: url(../img/svg/strips-right-1.svg);
                    width: 360px;
                }
                @media(max-width: 1380px) {
                    display: none;
                }
            }
        }
    }
}
.page-price {
    background-color: #fff;
    margin-top: 115px;
    @media(min-width: 1220px) {
        margin-top: 80px;
    }
}

.block-price {
    text-align: center;
    &__item {
        display: flex;
        justify-content: space-around;
        margin-top: 89px;
        margin: 89px auto 0;
        max-width: 1500px;
        @media(max-width: 1220px) {
            display: inline-block;
        }
        &_plan {
            padding: 44px 60px 36px 59px;
            background-color: #fff;
            box-shadow: 0 0 23px 3px #e6e6e6;
            @media(max-width: 1220px) {
                margin-bottom: 25px;
            }
            & h4 {
                font-weight: 400;
                letter-spacing: 0.45px;
            }
            &--cost {
                margin: 38px 13px 31px 30px;
                font-size: 72px;
                font-weight: 700;
                color: #0e1a35;
                letter-spacing: 0.65px;
                & span:first-child {
                    font-size: 40px;
                }
                & span:last-child {
                    font-size: 24px;
                    font-weight: 400;
                    color: #8492af;
                    margin-left: 3px;
                }
            }
            &--desc {
                line-height: 41px;
                & li {
                    list-style-type: none;
                    letter-spacing: 0.3px;
                    padding-left: 30px;
                    position: relative;
                    color: #8492af;
                }
            }
        }
    }
    &__desc {
        width: 900px;
        margin: 106px auto 0;
        line-height: 30px;
        position: relative;
        @media(max-width: 1220px) {
            margin: 30px auto;
        }
        & p {
            margin-bottom: 70px;
            @media(max-width: 1220px) {
                width: 600px;
                margin: 30px auto;
            }
        }
        & a {
            margin-top: 10px;
            padding: 13px 61px 13px;
            background-color: #5584ff;
            border-radius: 54px;
            font-weight: 700;
            text-decoration: none;
            color: #fff;
            letter-spacing: 0.45px;
            &::before {
                content: "";
                position: absolute;
                border: 0.5px solid #dadee7;
                width: 225px;
                top: 89%;
                left: 91px;
            }
            &::after {
                content: "";
                position: absolute;
                border: 0.5px solid #dadee7;
                width: 225px;
                top: 89%;
                right: 91px;
            }
        }
    }
}
.cross::before {
    content: "";
    position: absolute;
    background-image: url(../img/svg/cross.svg);
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
    top: 22%;
    left: -7px;
}
.check::before {
    content: "";
    position: absolute;
    background-image: url(../img/svg/check.svg);
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
    top: 22%;
    left: -7px;
}
.page-footer {
    background-color: #0e1a35;
    margin-top: 113px;
    & .wrap {
        max-width: 1468px;
    }
}
.block-footer {
    display: flex;
    justify-content: space-between;
    height: 150px;
    align-items: center;
    @media(max-width: 780px) {
        flex-flow: column;
        justify-content: center;
    }
    @media(max-width: 780px) {
        height: 200px;
    }
    &__menu {
        display: flex;
        width: 391px;
        justify-content: space-between;
        @media(max-width: 780px) {
            flex-flow: column;
            justify-content: center;
        }
        @media(max-width: 430px) {
            width: 86px;
            margin: 0 auto;
            text-align: center;
        }
        &--social {
            width: 84px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
}