<!DOCTYPE html>
<html lang="zxx">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Merkury</title>
        <meta name="theme-color" content="#fff">
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <link rel="shortcut icon" href="../img/favicons/favicon.ico" type="image/x-icon">
        <link rel="icon" sizes="16x16" href="../img/favicons/favicon-16x16.png" type="image/png">
        <link rel="icon" sizes="32x32" href="../img/favicons/favicon-32x32.png" type="image/png">
        <link rel="apple-touch-icon-precomposed" href="../img/favicons/apple-touch-icon-precomposed.png">
        <link rel="apple-touch-icon" href="../img/favicons/apple-touch-icon.png">
        <link rel="apple-touch-icon" sizes="57x57" href="../img/favicons/apple-touch-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="../img/favicons/apple-touch-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="../img/favicons/apple-touch-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="../img/favicons/apple-touch-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="../img/favicons/apple-touch-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="../img/favicons/apple-touch-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="../img/favicons/apple-touch-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="../img/favicons/apple-touch-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="167x167" href="../img/favicons/apple-touch-icon-167x167.png">
        <link rel="apple-touch-icon" sizes="180x180" href="../img/favicons/apple-touch-icon-180x180.png">
        <link rel="apple-touch-icon" sizes="1024x1024" href="../img/favicons/apple-touch-icon-1024x1024.png">
        <link href="https://fonts.googleapis.com/css?family=Roboto:100,400,500,700&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/5cd1ac997b.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="../styles/main.css">
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    </head>
    <body>
        <div class="page-main">
            <div class="wrap">
                <header>
                    <div class="header">
                        <a href="#" class="header__logo"></a>
                        <div class="menu">
                            <div class="menu__burger">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 786.5 898.9"><path d="M69.7 236h647.1c34.2 0 62-27.7 62-62 0-34.2-27.7-62-62-62H69.7c-34.2 0-62 27.7-62 62 .1 34.3 27.8 62 62 62zm145.9 275.4h514c27.2 0 49.2-27.7 49.2-62 0-34.2-22-62-49.2-62h-514c-27.2 0-49.2 27.7-49.2 62s22 62 49.2 62zM69.7 786.7h647.1c34.2 0 62-27.7 62-62 0-34.2-27.7-62-62-62H69.7c-34.2 0-62 27.7-62 62 .1 34.3 27.8 62 62 62z" fill="#fff"/></svg>
                            </div>
                            <div class="nav">
                                <nav class="menu__links">
                                    <a href="#" class="menu__links-item">Features</a>
                                    <a href="#" class="menu__links-item">Pricing</a>
                                    <a href="#" class="menu__links-item">Blog</a>
                                    <a href="#" class="menu__links-item">Contact</a>
                                </nav>
                                <div class="header__login">
                                    <a href="#" class="header__login-item">Login</a>
                                </div> 
                            </div>
                        </div>  
                    </div>
                </header>
                <div class="block-main">
                    <h1 class="block-main__title">Grow Your business with Merkury<span>Your partner in crime!</span></h1>
                    <div class="block-main__button">
                        <a href="#" class="block-main__button-item">Get started</a>
                    </div>
                    <div class="block-main__dashboard"></div>
                </div>
            </div>
        </div>
        <div class="page-stats">
            <div class="wrap">
                <div class="block-stats">
                    <div class="block-stats-item line">
                        <div class="block-stats-item__img-1"></div>
                        <div class="block-stats-item__title">
                            <h4>Manage Your Workflow</h4>
                        </div>
                        <div class="block-stats-item__text">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div>
                        <div class="block-stats-item__button">
                            <a href="#">See more</a>
                        </div>
                    </div>
                    <div class="block-stats-item line">
                        <div class="block-stats-item__img-2"></div>
                        <div class="block-stats-item__title">
                            <h4>Analytics & Insights</h4>
                        </div>
                        <div class="block-stats-item__text">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div>
                        <div class="block-stats-item__button">
                            <a href="#">See more</a>
                        </div>
                    </div>
                    <div class="block-stats-item">
                        <div class="block-stats-item__img-3"></div>
                        <div class="block-stats-item__title">
                            <h4>Organize Your Deadlines</h4>
                        </div>
                        <div class="block-stats-item__text">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div>
                        <div class="block-stats-item__button">
                            <a href="#">See more</a>
                        </div>
                    </div>
                </div> 
            </div>
        </div>
        <div class="page-view">
            <div class="block-view">
                <div class="block-view-desc">
                    <h2>All You need is a browser!</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    <div class="block-view-item">
                        <ul class="block-view-item__list">
                            <li>Lorem ipsum dolor sit amet consectetur</li>
                            <li>Ut enim ad minim veniam quis nostrud</li>
                        </ul>
                    </div>
                </div>
                <div class="block-view-img">
                    <img src="../img/view.png" alt="">
                </div>
            </div>
        </div>
        <div class="page-progress">
            <div class="wrap">
                <div class="block-progress">
                    <div class="block-progress__item">
                        <div class="block-progress__item_progress">
                            <h4>In Progress <span>(3)</span></h4>
                            <ul>
                                <li>New logo for Apple<span>1 day left</span></li>
                                <li>Daily UI Kit<span>5 days left</span></li>
                                <li>Business Cards<span>2 days delays</span></li>
                            </ul>
                        </div>
                        <div class="block-progress__item_completed">
                            <h4>Completed <span>(2)</span></h4>
                            <ul>
                                <li>Free PSD Template vol. 1<span>Completed!</span></li>
                                <li>Iconset vol. 1<span>Completed!</span></li>
                            </ul>
                        </div>
                    </div>
                    <div class="block-progress__desc">
                        <h2>Drag & Drop</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                        <div class="block-progress__desc_button">
                            <a href="#" class="block-progress__desc_button-left"><img src="../img/Arrow-left.png" alt=""></a>
                            <a href="#"  class="block-progress__desc_button-right"><img src="../img/Arrow-right.png" alt=""></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="page-powerfull">
            <div class="wrap">
                <div class="block-powerfull">
                    <h2>Powerfull PSD Template</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    <div class="block-powerfull__img">
                        <img src="../img/mockup.png" alt="">
                        <div class="block-powerfull__img--desc-1">
                            <h4>Clean & modern layout</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor</p>
                        </div>
                        <div class="block-powerfull__img--desc-2">
                            <h4>Easy to customize</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="page-price">
            <div class="wrap">
                <div class="block-price">
                    <h2>Check our pricing!</h2>
                    <div class="block-price__item">
                        <div class="block-price__item_plan">
                            <h4>BRONZE PLAN</h4>
                            <p class="block-price__item_plan--cost"><span>$</span>19<span>/mon</span></p>
                            <div class="block-price__item_plan--desc">
                                <ul>
                                    <li class="check">Lorem ipsum dolor sit am</li>
                                    <li class="check">Lorem ipsum dolor sit am</li>
                                    <li class="cross">Lorem ipsum dolor sit am</li>
                                    <li class="cross">Lorem ipsum dolor sit am</li>
                                </ul>
                            </div>
                        </div>
                        <div class="block-price__item_plan">
                            <h4>SILVER PLAN</h4>
                            <p class="block-price__item_plan--cost"><span>$</span>49<span>/mon</span></p>
                            <div class="block-price__item_plan--desc">
                                <ul>
                                    <li class="check">Lorem ipsum dolor sit am</li>
                                    <li class="check">Lorem ipsum dolor sit am</li>
                                    <li class="check">Lorem ipsum dolor sit am</li>
                                    <li class="cross">Lorem ipsum dolor sit am</li>
                                </ul>
                            </div>
                        </div>
                        <div class="block-price__item_plan">
                            <h4>GOLD PLAN</h4>
                            <p class="block-price__item_plan--cost"><span>$</span>99<span>/mon</span></p>
                            <div class="block-price__item_plan--desc">
                                <ul>
                                    <li class="check">Lorem ipsum dolor sit am</li>
                                    <li class="check">Lorem ipsum dolor sit am</li>
                                    <li class="check">Lorem ipsum dolor sit am</li>
                                    <li class="check">Lorem ipsum dolor sit am</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="block-price__desc">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</p>
                        <a href="#">Join now!</a>
                    </div>
                </div>
            </div>
        </div>
        <footer class="page-footer">
            <div class="wrap">
                <div class="block-footer">
                    <div class="block-footer__copy">
                        <p>© 2016 Merkury All Right Reserved</p>  
                    </div>
                    <div class="block-footer__menu">
                        <a href="#">Pricing</a>
                        <a href="#">Blog</a>
                        <a href="#">Contact</a>
                        <div class="block-footer__menu--social">
                            <a href="#"><img src="../img/svg/facebook.svg" width="9" height="17" alt=""></a>
                            <a href="#"><img src="../img/svg/twitter.svg" width="18" height="16" alt=""></a>
                            <a href="#"><img src="../img/svg/google.svg" width="18" height="18" alt=""></a>
                        </div>
                    </div>
                </div>
            </div>
            <script src="../js/main.js"></script>
            <script src="../js/vendor.js"></script>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
            <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
            <script>
                $(function(){
	
                    $('.menu__burger').on('click', function(){
                        
                        $('.nav').slideToggle(300, function(){
                            
                            if($(this).css('display') === 'none'){
                                $(this).removeAttr('style');
                            }
                            
                        });
                        
                    });
                    
                });
            </script>
        </footer>
    </body>
</html>