<!DOCTYPE html>
<html lang="zxx">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Merkury</title>
        <meta name="theme-color" content="#fff">
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <link rel="shortcut icon" href="../img/favicons/favicon.ico" type="image/x-icon">
        <link rel="icon" sizes="16x16" href="../img/favicons/favicon-16x16.png" type="image/png">
        <link rel="icon" sizes="32x32" href="../img/favicons/favicon-32x32.png" type="image/png">
        <link rel="apple-touch-icon-precomposed" href="../img/favicons/apple-touch-icon-precomposed.png">
        <link rel="apple-touch-icon" href="../img/favicons/apple-touch-icon.png">
        <link rel="apple-touch-icon" sizes="57x57" href="../img/favicons/apple-touch-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="../img/favicons/apple-touch-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="../img/favicons/apple-touch-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="../img/favicons/apple-touch-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="../img/favicons/apple-touch-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="../img/favicons/apple-touch-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="../img/favicons/apple-touch-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="../img/favicons/apple-touch-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="167x167" href="../img/favicons/apple-touch-icon-167x167.png">
        <link rel="apple-touch-icon" sizes="180x180" href="../img/favicons/apple-touch-icon-180x180.png">
        <link rel="apple-touch-icon" sizes="1024x1024" href="../img/favicons/apple-touch-icon-1024x1024.png">
        <link href="https://fonts.googleapis.com/css?family=Roboto:100,400,700&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/5cd1ac997b.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="../styles/main.css">
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    </head>
    <body>
        <div class="page-main">
            <div class="wrap">
                <header>
                    <div class="header">
                        <a href="#" class="header__logo"></a>
                        <div class="menu">
                            <nav class="menu__links">
                                <a href="#" class="menu__links-item">Features</a>
                                <a href="#" class="menu__links-item">Pricing</a>
                                <a href="#" class="menu__links-item">Blog</a>
                                <a href="#" class="menu__links-item">Contact</a>
                            </nav>
                            <div class="header__login">
                                <a href="#" class="header__login-item">Login</a>
                            </div> 
                        </div>  
                    </div>
                </header>
                <div class="block-main">
                    <h1 class="block-main__title">Grow Your business with Merkury<span>Your partner in crime!</span></h1>
                    <div class="block-main__button">
                        <a href="#" class="block-main__button-item">Get started</a>
                    </div>
                    <div class="block-main__dashboard"></div>
                </div>
            </div>
        </div>
        <div class="page-stats">
            <div class="wrap">
                <div class="block-stats">
                    <div class="block-stats-item line">
                        <div class="block-stats-item__img-1"></div>
                        <div class="block-stats-item__title">
                            <h4>Manage Your Workflow</h4>
                        </div>
                        <div class="block-stats-item__text">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div>
                        <div class="block-stats-item__button">
                            <a href="#">See more</a>
                        </div>
                    </div>
                    <div class="block-stats-item line">
                        <div class="block-stats-item__img-2"></div>
                        <div class="block-stats-item__title">
                            <h4>Analytics & Insights</h4>
                        </div>
                        <div class="block-stats-item__text">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div>
                        <div class="block-stats-item__button">
                            <a href="#">See more</a>
                        </div>
                    </div>
                    <div class="block-stats-item">
                        <div class="block-stats-item__img-3"></div>
                        <div class="block-stats-item__title">
                            <h4>Organize Your Deadlines</h4>
                        </div>
                        <div class="block-stats-item__text">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div>
                        <div class="block-stats-item__button">
                            <a href="#">See more</a>
                        </div>
                    </div>
                </div> 
            </div>
        </div>
        <div class="page-view">
            <div class="wrap">
                <div class="block-view">
                    <div class="block-view-desc">
                        <h2>All You need is a browser!</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                        <div class="block-view-item">
                            <ul class="block-view-item__list">
                                <li>Lorem ipsum dolor sit amet consectetur</li>
                                <li>Ut enim ad minim veniam quis nostrud</li>
                            </ul>
                        </div>
                    </div>
                    <div class="block-view-img"></div>
                </div>
            </div>
        </div>
    </body>
</html>